In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('data_set/railway.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

In [20]:
df.drop_duplicates(inplace=True)
df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

In [21]:
values = {'Railcard' : 'No information', 'Actual Arrival Time' : 'No information', 'Reason for Delay' : 'No information'}

In [22]:
df.fillna(value=values, inplace=True)

In [23]:
df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,No information,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,No information,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,No information,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,No information,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,No information,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,No information,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,No information,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,No information,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,No information,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,No information,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,No information,No

In [24]:
df.head(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,No information,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,No information,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,No information,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,No information,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,No information,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,No information,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,No information,No

In [25]:
df.tail(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,No information,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,No information,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,No information,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,No information,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,No information,No

In [26]:
df.loc[1:100]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,No information,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,No information,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,No information,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,No information,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,No information,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,No information,No
5,4e1dcd88-3d95-44ef-99fa,2023-12-30,07:56:06,Online,Credit Card,No information,Standard,Advance,35,London Kings Cross,York,2024-01-01,06:15:00,08:05:00,08:05:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,bb416517-39a2-4db5-b9be,2024-01-02,01:22:25,Online,Credit Card,No information,Standard,Off-Peak,5,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,02:45:00,03:15:00,03:15:00,On Time,No information,No
97,5579a244-2516-4511-8b57,2024-01-02,01:26:15,Online,Contactless,Disabled,Standard,Advance,5,York,Durham,2024-01-03,23:45:00,00:35:00,00:35:00,On Time,No information,No
98,2a2eb6c9-689e-473d-9e6c,2024-01-02,01:40:08,Online,Contactless,Adult,First Class,Advance,6,Manchester Piccadilly,Liverpool Lime Street,2024-01-03,00:00:00,00:30:00,00:30:00,On Time,No information,No
99,7703c1a2-5115-436c-9bc6,2024-01-02,01:51:12,Station,Credit Card,No information,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-03,00:15:00,00:45:00,00:45:00,On Time,No information,No
100,97e4266f-7f58-4a5f-9969,2024-01-02,01:52:53,Station,Credit Card,No information,Standard,Off-Peak,19,London Paddington,Reading,2024-01-02,03:15:00,04:15:00,04:15:00,On Time,No information,No

In [34]:
df.iloc[1:100, 1:5]

   Date of Purchase Time of Purchase Purchase Type Payment Method
1        2023-12-16         11:23:01       Station    Credit Card
2        2023-12-19         19:51:27        Online    Credit Card
3        2023-12-20         23:00:36       Station    Credit Card
4        2023-12-27         18:22:56        Online    Contactless
5        2023-12-30         07:56:06        Online    Credit Card
..              ...              ...           ...            ...
95       2024-01-02         01:19:18        Online    Contactless
96       2024-01-02         01:22:25        Online    Credit Card
97       2024-01-02         01:26:15        Online    Contactless
98       2024-01-02         01:40:08        Online    Contactless
99       2024-01-02         01:51:12       Station    Credit Card

[99 rows x 4 columns]

In [46]:
df.iloc[:100, 3:7].join(df.iloc[:, 8:11])

,Purchase Type,Payment Method,Railcard,Ticket Class,Price,Departure Station,Arrival Destination
0,Online,Contactless,Adult,Standard,43,London Paddington,Liverpool Lime Street
1,Station,Credit Card,Adult,Standard,23,London Kings Cross,York
2,Online,Credit Card,No information,Standard,3,Liverpool Lime Street,Manchester Piccadilly
3,Station,Credit Card,No information,Standard,13,London Paddington,Reading
4,Online,Contactless,No information,Standard,76,Liverpool Lime Street,London Euston
...,...,...,...,...,...,...,...
95,Online,Contactless,Disabled,Standard,5,York,Durham
96,Online,Credit Card,No information,Standard,5,Liverpool Lime Street,Manchester Piccadilly
97,Online,Contactless,Disabled,Standard,5,York,Durham
98,Online,Contactless,Adult,First Class,6,Manchester Piccadilly,Liverpool Lime Street
99,Station,Credit Card,No information,Standard,3,Liverpool Lime Street,Manchester Piccadilly

In [47]:
df.loc[100:200, 'Price':'Journey Status']

,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status
100,19,London Paddington,Reading,2024-01-02,03:15:00,04:15:00,04:15:00,On Time
101,200,Manchester Piccadilly,London Euston,2024-01-02,03:30:00,05:20:00,05:31:00,Delayed
102,2,Liverpool Lime Street,Manchester Piccadilly,2024-01-03,01:30:00,02:00:00,02:00:00,On Time
103,5,London St Pancras,Birmingham New Street,2024-01-03,01:30:00,02:50:00,02:50:00,On Time
104,12,London St Pancras,Birmingham New Street,2024-01-02,04:30:00,05:50:00,05:50:00,On Time
...,...,...,...,...,...,...,...,...
196,9,Reading,Swindon,2024-01-03,07:30:00,08:15:00,08:15:00,On Time
197,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-03,07:30:00,08:00:00,08:00:00,On Time
198,9,Reading,Swindon,2024-01-03,07:30:00,08:15:00,08:15:00,On Time
199,5,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,10:45:00,11:15:00,11:15:00,On Time
200,35,London Kings Cross,York,2024-01-03,07:45:00,09:35:00,09:35:00,On Time

In [48]:
result = df.drop(df.columns.difference(df.columns[3:7].tolist() + df.columns[8:11].tolist()), axis=1)
result

,Purchase Type,Payment Method,Railcard,Ticket Class,Price,Departure Station,Arrival Destination
0,Online,Contactless,Adult,Standard,43,London Paddington,Liverpool Lime Street
1,Station,Credit Card,Adult,Standard,23,London Kings Cross,York
2,Online,Credit Card,No information,Standard,3,Liverpool Lime Street,Manchester Piccadilly
3,Station,Credit Card,No information,Standard,13,London Paddington,Reading
4,Online,Contactless,No information,Standard,76,Liverpool Lime Street,London Euston
...,...,...,...,...,...,...,...
31648,Online,Credit Card,No information,Standard,4,Manchester Piccadilly,Liverpool Lime Street
31649,Online,Contactless,No information,Standard,10,London Euston,Birmingham New Street
31650,Station,Credit Card,No information,Standard,4,Manchester Piccadilly,Liverpool Lime Street
31651,Station,Credit Card,No information,Standard,10,London Euston,Birmingham New Street
31652,Station,Credit Card,Adult,Standard,3,Liverpool Lime Street,Manchester Piccadilly

In [52]:
df.filter(items=['Purchase Type', 'Railcard'])

      Purchase Type        Railcard
0            Online           Adult
1           Station           Adult
2            Online  No information
3           Station  No information
4            Online  No information
...             ...             ...
31648        Online  No information
31649        Online  No information
31650       Station  No information
31651       Station  No information
31652       Station           Adult

[31653 rows x 2 columns]

In [58]:
df[df['Price'] == 200]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
101,c57dd321-4e2f-46c0-8cfb,2024-01-02,02:13:53,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-01-02,03:30:00,05:20:00,05:31:00,Delayed,Weather Conditions,No
539,83a9482a-c116-4cb7-a588,2024-01-03,15:11:05,Station,Debit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-01-03,15:30:00,17:20:00,17:39:00,Delayed,Staffing,Yes
6177,4321c441-dfad-4050-b822,2024-01-24,02:04:49,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-01-24,03:30:00,05:20:00,05:31:00,Delayed,Weather Conditions,No
7097,d123e5b0-26fa-4449-aef5,2024-01-27,06:42:48,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-01-27,08:00:00,09:50:00,10:44:00,Delayed,Weather,No
8077,204b190d-1d19-4e6a-b409,2024-01-31,02:05:07,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-01-31,03:30:00,05:20:00,06:07:00,Delayed,Weather Conditions,No
14057,a793b8bf-77c2-44d6-a19c,2024-02-16,02:14:21,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-02-16,03:30:00,05:20:00,05:28:00,Delayed,Weather Conditions,No
28894,4f0f5ac2-9765-48e4-a083,2024-04-20,06:32:09,Station,Credit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-04-20,08:00:00,09:50:00,10:00:00,Delayed,Weather,No
31404,fff63592-7176-4266-87d3,2024-04-29,15:00:34,Station,Debit Card,No information,First Class,Off-Peak,200,Manchester Piccadilly,London Euston,2024-04-29,15:30:00,17:20:00,17:33:00,Delayed,Staffing,Yes

In [59]:
df.query('Railcard == "Adult"')

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,No information,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
6,1c74479d-85a4-4ba1-a607,2023-12-31,00:02:01,Station,Credit Card,Adult,Standard,Advance,2,London Euston,Oxford,2024-01-01,22:30:00,23:40:00,23:40:00,On Time,No information,No
11,6c63f7ac-d590-4356-9eaa,2023-12-31,03:52:11,Online,Contactless,Adult,Standard,Advance,8,London Paddington,Reading,2024-01-01,02:15:00,03:15:00,03:15:00,On Time,No information,No
20,8dfbf0fc-aea0-424f-b30e,2023-12-31,11:57:15,Station,Debit Card,Adult,Standard,Advance,7,Birmingham New Street,Manchester Piccadilly,2024-01-01,11:15:00,12:35:00,13:06:00,Delayed,Technical Issue,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31637,5dd5c27f-fd92-42c5-95f9,2024-04-30,17:05:54,Station,Debit Card,Adult,Standard,Anytime,101,Liverpool Lime Street,London Euston,2024-04-30,17:30:00,19:45:00,20:13:00,Delayed,Technical Issue,Yes
31638,471bf3a2-aef7-4165-b493,2024-04-30,17:10:04,Station,Debit Card,Adult,Standard,Anytime,11,London St Pancras,Birmingham New Street,2024-04-30,18:45:00,20:05:00,No information,Cancelled,Signal Failure,No
31640,753b9f3f-15cd-42be-8af0,2024-04-30,17:14:20,Online,Credit Card,Adult,Standard,Anytime,4,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,18:30:00,19:00:00,19:00:00,On Time,No information,No
31641,2e96cde6-50c1-4311-8089,2024-04-30,17:16:04,Station,Credit Card,Adult,Standard,Anytime,95,London Euston,Manchester Piccadilly,2024-04-30,18:45:00,20:35:00,No information,Cancelled,Signal failure,Yes
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,No information,No

In [60]:
df.sort_values(by='Price')

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
21287,4e0d5a64-7c36-45d0-a686,2024-03-21,20:16:38,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-03-22,18:45:00,19:00:00,19:00:00,On Time,No information,No
20713,7bf9d2e5-edbb-4c94-862c,2024-03-19,20:24:40,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-03-20,18:45:00,19:00:00,19:00:00,On Time,No information,No
2488,39195f02-ae74-4902-bffd,2024-01-10,20:29:46,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-01-11,18:45:00,19:00:00,19:00:00,On Time,No information,No
17221,dc4a283a-e411-402c-8d0c,2024-03-06,20:28:53,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-03-07,18:45:00,19:00:00,19:00:00,On Time,No information,No
24481,93f73d08-d54f-4a29-9af0,2024-04-03,20:21:06,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-04-04,18:45:00,19:00:00,19:00:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13367,d327e0ec-e1ac-436a-aa5c,2024-02-13,16:51:59,Station,Contactless,No information,First Class,Anytime,242,Reading,Liverpool Lime Street,2024-02-13,18:15:00,20:45:00,20:45:00,On Time,No information,No
31434,a4bbac34-6ed7-4d71-b738,2024-04-29,16:49:20,Station,Contactless,No information,First Class,Anytime,242,Reading,Liverpool Lime Street,2024-04-29,18:15:00,20:45:00,20:45:00,On Time,No information,No
711,092e5598-08de-42f5-b6b2,2024-01-04,06:35:01,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-01-04,08:00:00,09:50:00,10:23:00,Delayed,Weather,No
2042,05193f47-2107-4bb8-8adb,2024-01-09,06:33:37,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-01-09,08:00:00,09:50:00,10:29:00,Delayed,Weather,No
11849,de723682-3979-4d69-9664,2024-02-09,06:30:59,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-02-09,08:00:00,09:50:00,10:16:00,Delayed,Weather,No

In [61]:
df[df['Departure Station'].str.contains('Manchester', case=False)]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
12,2e7add75-566a-41aa-9468,2023-12-31,05:55:22,Online,Contactless,No information,Standard,Advance,3,Manchester Piccadilly,Liverpool Lime Street,2024-01-01,04:15:00,04:45:00,04:45:00,On Time,No information,No
13,7ed9b545-eb6f-49b2-9b5a,2023-12-31,06:44:35,Online,Contactless,No information,Standard,Advance,3,Manchester Piccadilly,Liverpool Lime Street,2024-01-01,05:00:00,05:30:00,05:30:00,On Time,No information,No
25,842da93c-b820-42dc-ad4f,2023-12-31,15:19:53,Online,Contactless,No information,Standard,Advance,86,Manchester Piccadilly,London Paddington,2024-01-01,13:45:00,16:00:00,16:00:00,On Time,No information,No
35,ea7108cf-382b-4794-aa8c,2024-01-01,01:16:20,Online,Contactless,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-01-01,02:45:00,03:15:00,03:15:00,On Time,No information,No
40,5f7dd36c-6a06-49bc-9ff6,2024-01-01,04:09:42,Station,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-01-01,05:30:00,06:00:00,06:00:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31634,8238d80b-e3b1-4448-8447,2024-04-30,16:11:33,Station,Credit Card,No information,Standard,Anytime,5,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,17:45:00,18:15:00,18:15:00,On Time,No information,No
31642,09e207d9-db49-4ec0-9c4f,2024-04-30,17:21:14,Online,Contactless,No information,Standard,Anytime,5,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,18:45:00,19:15:00,No information,Cancelled,Weather Conditions,No
31645,a0e238b7-1ad1-4bf7-bd6c,2024-04-30,18:11:50,Online,Credit Card,Senior,First Class,Anytime,13,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,18:45:00,19:15:00,No information,Cancelled,Weather Conditions,No
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,No information,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,No information,No

In [65]:
df[df['Date of Purchase'].str.startswith('2024')]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
34,a3a42b1b-bf7f-43d9-b63c,2024-01-01,01:10:20,Station,Contactless,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-01-01,23:30:00,00:50:00,00:50:00,On Time,No information,No
35,ea7108cf-382b-4794-aa8c,2024-01-01,01:16:20,Online,Contactless,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-01-01,02:45:00,03:15:00,03:15:00,On Time,No information,No
36,d8275e2a-8493-4b30-b6e0,2024-01-01,03:02:34,Station,Contactless,No information,Standard,Off-Peak,12,London St Pancras,Birmingham New Street,2024-01-01,04:30:00,05:50:00,05:50:00,On Time,No information,No
37,b7cf7da5-b4c2-4e24-897c,2024-01-01,03:03:49,Online,Credit Card,No information,Standard,Off-Peak,33,Birmingham New Street,London St Pancras,2024-01-01,04:30:00,05:50:00,05:50:00,On Time,No information,No
38,58a7ad60-8670-41a4-87ba,2024-01-01,03:35:48,Online,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-01,05:00:00,05:30:00,05:30:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,No information,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,No information,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,No information,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,No information,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,No information,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,No information,No

In [66]:
df[df['Price'].between(100, 150)]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
45,767314a0-f839-4607-a3d3,2024-01-01,05:09:30,Station,Credit Card,No information,First Class,Advance,134,Manchester Piccadilly,London Euston,2024-01-02,03:30:00,05:20:00,05:31:00,Delayed,Weather Conditions,No
61,711c08ba-eb61-44ba-821a,2024-01-01,09:30:09,Station,Credit Card,No information,First Class,Advance,134,Manchester Piccadilly,London Euston,2024-01-02,08:00:00,09:50:00,10:08:00,Delayed,Weather,No
129,45843d84-051f-4f20-8129,2024-01-02,05:06:12,Station,Credit Card,No information,First Class,Anytime,107,London St Pancras,Birmingham New Street,2024-01-02,06:30:00,07:50:00,07:50:00,On Time,No information,No
133,f59d227c-75ef-40d7-b3d0,2024-01-02,05:10:28,Online,Debit Card,No information,Standard,Anytime,143,London Euston,Manchester Piccadilly,2024-01-02,06:30:00,08:20:00,08:20:00,On Time,No information,No
152,e149328e-6ed5-4d7c-ab84,2024-01-02,06:35:02,Online,Debit Card,No information,Standard,Anytime,143,London Euston,Manchester Piccadilly,2024-01-02,08:00:00,09:50:00,09:50:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31542,cf61ca04-75e2-468f-ac38,2024-04-30,02:01:43,Station,Credit Card,No information,Standard,Off-Peak,126,Manchester Piccadilly,London Euston,2024-04-30,03:30:00,05:20:00,05:27:00,Delayed,Weather Conditions,No
31557,745c7846-349a-4361-92b5,2024-04-30,05:06:22,Station,Contactless,No information,First Class,Anytime,114,London Kings Cross,York,2024-04-30,06:30:00,08:20:00,08:20:00,On Time,No information,No
31563,9c18f421-31ae-4529-ba33,2024-04-30,05:49:44,Online,Credit Card,No information,Standard,Anytime,143,London Euston,Manchester Piccadilly,2024-04-30,07:45:00,09:35:00,09:35:00,On Time,No information,No
31637,5dd5c27f-fd92-42c5-95f9,2024-04-30,17:05:54,Station,Debit Card,Adult,Standard,Anytime,101,Liverpool Lime Street,London Euston,2024-04-30,17:30:00,19:45:00,20:13:00,Delayed,Technical Issue,Yes
31639,465e3643-fb67-4deb-8ec9,2024-04-30,17:13:32,Station,Debit Card,Senior,First Class,Anytime,144,London Euston,Manchester Piccadilly,2024-04-30,18:45:00,20:35:00,No information,Cancelled,Signal failure,No

In [ ]:
result = df.nlargest(5, 'Price')
result

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
711,092e5598-08de-42f5-b6b2,2024-01-04,06:35:01,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-01-04,08:00:00,09:50:00,10:23:00,Delayed,Weather,No
2042,05193f47-2107-4bb8-8adb,2024-01-09,06:33:37,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-01-09,08:00:00,09:50:00,10:29:00,Delayed,Weather,No
11849,de723682-3979-4d69-9664,2024-02-09,06:30:59,Station,Credit Card,No information,First Class,Anytime,267,Manchester Piccadilly,London Euston,2024-02-09,08:00:00,09:50:00,10:16:00,Delayed,Weather,No

In [ ]:
result = df.nsmallest(5, 'Price')
result

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
2488,39195f02-ae74-4902-bffd,2024-01-10,20:29:46,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-01-11,18:45:00,19:00:00,19:00:00,On Time,No information,No
3855,e633318f-b30d-4e0a-9cbd,2024-01-15,20:19:15,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-01-16,18:45:00,19:00:00,19:00:00,On Time,No information,No
7286,5e651fd0-c290-4b81-974b,2024-01-27,20:16:46,Online,Credit Card,No information,Standard,Advance,1,Birmingham New Street,Wolverhampton,2024-01-28,18:45:00,19:00:00,19:00:00,On Time,No information,No

In [72]:
df.sort_values(by='Purchase Type', ascending=False)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
15826,a69e4d23-f5b3-4b55-8a8a,2024-03-01,12:44:00,Station,Contactless,No information,Standard,Advance,3,Manchester Piccadilly,Liverpool Lime Street,2024-03-02,11:00:00,11:30:00,14:26:00,Delayed,Staff Shortage,No
16787,d9f8f92a-9d39-4d5d-9dfa,2024-03-05,09:25:44,Station,Credit Card,No information,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-03-05,10:45:00,12:05:00,12:05:00,On Time,No information,No
16903,2c208ef5-d5cb-4d8a-9a21,2024-03-05,18:37:40,Station,Credit Card,No information,Standard,Advance,3,Manchester Piccadilly,Liverpool Lime Street,2024-03-06,17:00:00,17:30:00,17:30:00,On Time,No information,No
16902,4630a32a-882e-465d-aca7,2024-03-05,18:34:27,Station,Credit Card,No information,Standard,Off-Peak,19,London Paddington,Reading,2024-03-05,20:00:00,21:00:00,21:00:00,On Time,No information,No
16898,00f6692a-b0ab-4a27-b344,2024-03-05,18:01:19,Station,Contactless,Adult,Standard,Advance,6,Liverpool Lime Street,Sheffield,2024-03-06,16:30:00,17:45:00,17:45:00,On Time,No information,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17402,711b8155-4551-4be7-bce5,2024-03-07,14:59:42,Online,Contactless,Adult,Standard,Anytime,3,Manchester Piccadilly,Liverpool Lime Street,2024-03-07,16:15:00,16:45:00,16:45:00,On Time,No information,No
5966,515c6531-e388-41d1-8613,2024-01-23,08:03:32,Online,Credit Card,Disabled,Standard,Advance,15,Birmingham New Street,London St Pancras,2024-01-24,06:30:00,07:50:00,07:50:00,On Time,No information,No
5967,4b694b95-0343-45d8-bc1a,2024-01-23,08:05:56,Online,Credit Card,Disabled,Standard,Advance,15,Birmingham New Street,London St Pancras,2024-01-24,06:30:00,07:50:00,07:50:00,On Time,No information,No
17399,fa66652b-92c1-459a-8aec,2024-03-07,14:52:42,Online,Contactless,Adult,Standard,Anytime,3,Manchester Piccadilly,Liverpool Lime Street,2024-03-07,16:15:00,16:45:00,16:45:00,On Time,No information,No
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,No information,No

In [73]:
df['Ticket Class'].unique()

array(['Standard', 'First Class'], dtype=object)

In [75]:
average_price = df.groupby('Ticket Class')['Price'].mean()
average_price

Ticket Class
First Class    48.855134
Standard       20.721175
Name: Price, dtype: float64

In [78]:
result = df.groupby('Ticket Class').agg(
    count=('Price', 'count'),  
    avg_price=('Price', 'mean'),  
    total_price=('Price', 'sum')  
)

result

              count  avg_price  total_price
Ticket Class
First Class    3058  48.855134       149399
Standard      28595  20.721175       592522

In [87]:
df.describe()

,Price,departure_time,arrival_time
count,31653.000000,31653,31653
mean,23.439200,2024-11-14 12:01:51.856696064,2024-11-14 12:29:17.966069248
min,1.000000,2024-11-14 00:00:00,2024-11-14 00:00:00
25%,5.000000,2024-11-14 07:00:00,2024-11-14 07:50:00
50%,11.000000,2024-11-14 12:00:00,2024-11-14 12:05:00
75%,35.000000,2024-11-14 17:45:00,2024-11-14 18:15:00
max,267.000000,2024-11-14 23:45:00,2024-11-14 23:50:00
std,29.997628,NaN,NaN

In [89]:
df['Departure Time'] = pd.to_datetime(df['Departure Time'])
df['Arrival Time'] = pd.to_datetime(df['Arrival Time'])

C:\Users\illid\AppData\Local\Temp\ipykernel_30572\2296692081.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Departure Time'] = pd.to_datetime(df['Departure Time'])
C:\Users\illid\AppData\Local\Temp\ipykernel_30572\2296692081.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival Time'] = pd.to_datetime(df['Arrival Time'])

In [90]:
df['Travel Duration'] = df['Departure Time'] - df['Arrival Time']

In [91]:
df.sort_values(by='Travel Duration', ascending=False).head(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,departure_time,arrival_time,Travel Duration
27456,559b4fcb-4185-4987-a1c4,2024-04-15,01:24:33,Online,Contactless,No information,Standard,Off-Peak,19,Reading,...,2024-04-15,2024-11-14 23:45:00,2024-11-14 00:10:00,00:10:00,On Time,No information,No,2024-11-14 23:45:00,2024-11-14 00:10:00,0 days 23:35:00
19184,bef0083b-1894-42d3-aa8a,2024-03-14,01:22:45,Online,Contactless,No information,Standard,Advance,13,Reading,...,2024-03-15,2024-11-14 23:45:00,2024-11-14 00:10:00,00:10:00,On Time,No information,No,2024-11-14 23:45:00,2024-11-14 00:10:00,0 days 23:35:00
18903,f648d84f-a028-466c-a209,2024-03-13,01:18:31,Online,Contactless,No information,Standard,Advance,13,Reading,...,2024-03-14,2024-11-14 23:45:00,2024-11-14 00:10:00,00:10:00,On Time,No information,No,2024-11-14 23:45:00,2024-11-14 00:10:00,0 days 23:35:00
1703,25a3f68f-e7c8-4a3a-82bc,2024-01-08,01:24:05,Online,Contactless,No information,Standard,Advance,13,Reading,...,2024-01-09,2024-11-14 23:45:00,2024-11-14 00:10:00,00:10:00,On Time,No information,No,2024-11-14 23:45:00,2024-11-14 00:10:00,0 days 23:35:00
17501,7bd34905-1cc6-48c9-bd36,2024-03-08,01:17:23,Online,Contactless,No information,Standard,Off-Peak,19,Reading,...,2024-03-08,2024-11-14 23:45:00,2024-11-14 00:10:00,00:10:00,On Time,No information,No,2024-11-14 23:45:00,2024-11-14 00:10:00,0 days 23:35:00